<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
      <head th:include="layout :: head"></head>
    
    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <a href="/servico/novo" class="btn btn-primary">Novo</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Pet</th>
                        <th>Data do serviço</th>
                        <th>Hora do serviço</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umServico : ${listaServicos}">
                        <td th:text="${umServico.agenda?.nome}"></td>
                        <td th:text="${umServico.data}"></td>
                        <td th:text="${umServico.time}"></td>
                        <td th:text="${#aggregates.sum(umaVenda.listaColServicos.![getValorFinal])}"></td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>