<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: head">
        <figure class="logo">
            <img src="/img/TAgendamentos.png"
            alt="Título Agendamento">
        </figure>
    </head>
    
    <body>
        <main class="container">
            <a href="/home/souveterinario" class="btn btnBack">Retornar ao Menu</a></div>
            <!--<a onclick="window.history.go(-1); return false;" class="btn btnBack">Retornar ao Menu</a></div>-->
            <table class="table" id="tableagendamento">
                <thead class="topoagendamento">
                    <tr>
                        <th>Pet</th>
                        <th>Serviços</th>
                        <th>Data do serviço</th>
                        <th>Hora do serviço</th>
                        <th>Veterinário</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umAgendamento : ${listaAgendamentos}">
                        <td th:text="${umAgendamento.agenda?.nome}"></td>
                        <td>
                            <ul>
                                <li th:each="umServico : ${umAgendamento.listaColServicos}" th:text="${umServico.servico}"></li>
                            </ul>
                        </td>
                        <td th:text="${umAgendamento.data}"></td>
                        <td th:text="${umAgendamento.time}"></td>
                        <td th:text="${umAgendamento.veterinario?.nome}"></td>
                        <td th:text="${#aggregates.sum(umAgendamento.listaColServicos.![getValor])}"></td>
                    </tr>
                </tbody>
            </table>
        </main>

        <div class="modal" tabindex="-1" id="modalagendamento">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir agendamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Confirma a exclusão do agendamento?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
                </div>
            </div>
        </div>

        <footer th:include="layout :: footer"></footer>
        <script th:src="@{/js/script.js}"></script>
    </body>
</html>