<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head">
        <figure class="logo">
            <img src="/img/TAtendentes.png"
            alt="Título Atendente">
        </figure>
    </head>

    <body>
        <main class="container">
            <a href="/home/souatendente" class="btn btnBack">Retornar ao Menu</a></div>
            <!--<a onclick="window.history.go(-1); return false;" class="btn btnBack">Retornar ao Menu</a></div>-->
            <a href="/atendente/novo" class="btn btnNovo">Novo</a>
            <table class="table" id="tableatendente">
                <thead class="topoatendente">
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Usuário</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umAtendente : ${listaAtendentes}">
                        <td th:text="${umAtendente.id}"></td>
                        <td th:text="${umAtendente.nome}"></td>
                        <td th:text="${umAtendente.usuario}"></td>
                        <td>
                            <a th:href="@{'/atendente/alterar/' + ${umAtendente.id}}" class="btn btn-warning">Alterar</a>
                            <button class="btn btn-danger js-delete" th:data-id="${umAtendente.id}">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

        <div class="modal" tabindex="-1" id="modalatendente">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir atendente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Confirma a exclusão do atendente?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
                </div>
            </div>
        </div>
        
        <footer th:include="layout :: footer"></footer>
        <script th:src="@{/js/scriptAtendente.js}"></script>
    </body>
</html>