<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <form th:action="@{/pet/(form)}" 
                method="POST" th:object="${pet}"> 

                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="txtnome">Nome:</label>
                    <input type="text" th:field="*{nome}"
                        class="form-control" id="txtnome">
                    <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class = "alert alert-danger"></p>
                </div>

                <div class="form-group">
                    <label>Tutor(a):</label>
                    <select class="form-select" th:field="*{tutor}">
                        <option th:each="umCliente : ${listaClientes}"
                        th:text="${umCliente?.nome}" th:value="${umCliente.id}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Tipo:</label>
                    <select class="form-select" th:field="*{animal}">
                        <option th:each="umPet : ${listaPets}"
                        th:text="${umPet.nome}" th:value="${umPet.id}"></option>
                        <option value="Canino">Canino</option>
                        <option value="Felino">Felino</option>
                        <option value="Ave">Ave</option>
                        <option value="Roedor">Roedor</option>
                        <option value="Aquático">Aquático</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Sexo:</label>
                    <select class="form-select" th:field="*{sexo}">
                        <option value="Macho">Macho</option>
                        <option value="Fêmea">Fêmea</option>
                    </select>
                </div>
                
                </div>

                <div class="form-group">
                    <label for="txtDataNascimento">Data de Nascimento:</label>
                    <input type="date" th:field="*{dataNascimento}"
                        class="form-control" id="txtDataNascimento">
                        <p th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" class = "alert alert-danger"></p>
                </div>

                <div class="form-group">
                    <label for="txttamanho">Tamanho:</label>
                    <input type="text" th:field="*{tamanho}" class="form-control" id="txttamanho">
                </div>

                <div class="form-group">
                    <label for="txtpeso">Peso:</label>
                    <input type="text" th:field="*{peso}" class="form-control" id="txtpeso">
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
                <a href="/pet" class="btn btn-danger">Cancelar</a>
            </form>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>