<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <form th:action="@{/cliente/(form)}" 
                method="POST" th:object="${cliente}"> 

                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="txtnome">Nome:</label>
                    <input type="text" th:field="*{nome}"
                        class="form-control" id="txtnome">
                    <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class = "alert alert-danger"></p>
                </div>

                <div class="form-group">
                    <label for="txtcpf">CPF:</label>
                    <input type="text" th:field="*{CPF}"
                        class="form-control" id="txtcpf">
                        <p th:if="${#fields.hasErrors('CPF')}" th:errors="*{CPF}" class = "alert alert-danger"></p>
                </div>
                <div class="form-group">
                    <label for="txtemail">E-mail:</label>
                    <input type="text" th:field="*{email}"
                        class="form-control" id="txtemail">
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class = "alert alert-danger"></p>
                </div>
                <div class="form-group">
                    <label for="txttelefone">Telefone:</label>
                    <input type="text" th:field="*{telefone}"
                        class="form-control" id="txttelefone">
                        <p th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class = "alert alert-danger"></p>
                </div>


                <button type="submit" class="btn btn-primary">Enviar</button>
                <a href="/cliente" class="btn btn-danger">Cancelar</a>
            </form>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>