body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    max-width: 960px;
    margin: auto;
    background-image: url('/img/FundoPet.jpg');
    background-size: contain; 
    background-size: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
    scroll-behavior: smooth;
}

.retornomenu{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.figure{
    width: 100%;
    text-align: center;
}

.barra{
    background-color: rgb(216, 114, 46);
    margin: auto;
}

.topo{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.titulo{
    font-size: 30px;
    margin-left: 40px;
    text-align: justify;
}

.logo{
    text-align: center;
}

.links{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    word-spacing: 20px;
    margin: 30px;
}
.links2{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    word-spacing: 20px;
    margin: 30px;
}
.links3{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    word-spacing: 20px;
    margin: 30px;
}

.descricao{
    font-size: 30px;
    margin: 40px;
    text-align: center;
    color: rgb(66, 25, 0);
}

.pets{
    text-align: center;
}

.button{
  background-color: rgb(230, 126, 57);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.btnBack{
    background-color: rgb(124, 60, 18);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 10px;
}

.btnNovo{
    background-color: rgb(230, 126, 57);
    border-radius: 6px;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 10px;
}

a:hover{
    color:rgb(61, 26, 3)
}

.btn-primary{
    margin: 15px;
}

.container{
    background-color:  rgba(255, 255, 255, 0.55);
    margin: auto;
    text-align: justify;
    padding: 10px 20px;
    font-size: 17px;
}

.topocliente{
    background-color: rgb(230, 126, 57);
    color: rgb(66, 25, 0);
}
.topopet{
    background-color: rgb(230, 126, 57);
    color: rgb(66, 25, 0);
}
.topoagendamento{
    background-color: rgb(230, 126, 57);
    color: rgb(66, 25, 0);
}
.toposervicos{
    background-color: rgb(230, 126, 57);
    color: rgb(66, 25, 0);
}
.topoatendente{
    background-color: rgb(230, 126, 57);
    color: rgb(66, 25, 0);
}
.topoveterinario{
    background-color: rgb(230, 126, 57);
    color: rgb(66, 25, 0);
}

.retorno{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin: 10px;
    border: solid 2px rgb(66, 25, 0);
    border-radius: 15px;
}

.rodape{
    text-align: center;
}