<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>
    <body>
        <nav th:replace="layout :: menu"></nav>
            <main class="container">
                <form th:action="@{/veterinario/(form)}" 
                    method="POST" th:object="${veterinario}"> 

                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="txtnome">Nome:</label>
                        <input type="text" th:field="*{nome}"
                            class="form-control" id="txtnome">
                        <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class = "alert alert-danger"></p>
                    </div>

                    <div class="form-group">
                        <label for="txtusuario">Usuário:</label>
                        <input type="text" th:field="*{usuario}"
                            class="form-control" id="txtusuario">
                            <p th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}" class = "alert alert-danger"></p>
                    </div>

                    <!-- SENHA COMO? -->
                    <div class="form-group">
                        <label for="txtsenha">Senha:</label>
                        <input type="password" th:field="*{senha}" class="form-control" id="txtsenha">
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <a href="/veterinario" class="btn btn-danger">Cancelar</a>
                </form>
            </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>