<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:include="layout :: head">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
        <link rel = "stylesheet" href = "/css/style.css">
    </head>
    <body>
        <main class="home">
            <header id="topoindex">
                <figure class="logo">
                    <img src="./img/LogoSistemaVet.png"
                    alt="Logo do Sistema Hospital Veterinário">
                </figure>
                <!--<h2 class="titulo">Sistema Hospital Veterinário</h2>-->
                <h3 class="descricao">Escolha seu tipo de acesso:</h3>

                <nav class="links">
                    <p>
                        <a href="home/souatendente" class="button"><strong>Atendentes</strong></a></button>
                        <a href="home/souveterinario" class="button"><strong>Veterinários</strong></a></button>
                    </p>
                </nav>
                <figure class="pets">
                    <img src="./img/Pets.png"
                    alt="Pets em fileira">
                </figure>
            </header>
        </main>
    </body>
</html>
