<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:include="layout :: head">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
        <link rel = "stylesheet" href = "/css/style.css">
    </head>
    <body>
        <main class="home">
            <header id="topoindex3">
                <h2 class="titulo">Sistema Hospital Veterinário - Veterinários</h2>
                
                <nav class="links3">
                    <p>
                        <a href="/pet/consulta" class="button"><strong>Pets</strong></a></button>
                        <a href="/agendamento/consulta" class="button"><strong>Agendamentos</strong></a></button>
                    </p>
                </nav>
            </header>
        </main>
    </body>
</html>
